__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
venv/
env/
ENV/
build/
dist/
*.spec
*.egg-info/
.pytest_cache/
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
output/
uploads/
deploy/
*.xlsx
!templates_excel/*.xlsx
!data/*.xlsx
